.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
  
}

h1 {
  color: rgb(203, 203, 243);
  font-size: 4rem;
  font-weight: bolder;
}

h3 {
  color: white;
  font-size: 3rem;
  margin-top: -10px;
  transition: all 0.1s ease-in-out
}

.center {
  display: flex;
  justify-content: center;
  
}

button {
  color: white;
  background-color: black;
  border-radius: 10px;
  font-size: 1.5rem;
  margin: 15px;
}
